body{
	background-color: rgb(0,172,200);
	font-size: 11px;
}

.ticket, .turno{
	background-color: #fff;
}

.print{
	color: rgb(0,172,200);
}

div .veotek-logo{
	transform: rotateZ(-90deg) translate(-83px);
}

.print-veotek{
	height: 241px;
}

.buttom{
	padding: 0;
	color: rgb(0,172,200);
	background-color: rgb(253,130,4);
	font-weight: 600;
}

.result{
	background-color: white;
	color: rgb(0,172,200);
	height: 100%;
}

.print{
	cursor: pointer;
}

.turno{
	/*height: 100%;*/
	text-align: center;
	color: rgb(253,130,4);
}

h1, h2, h3, h4, h5 .turno{
	font-size: 200px;
}

h1, h2, h3, h4, h5 .result{
	font-size: 100px;
}

.ticket h4{
	font-size: 18px;
}

.ticket h3{
	font-size: 24px;
}

div .l{
	transform: rotateZ(-90deg) translate(-153px);
	background-color: #fff;
	text-align: center;
}

div .r{
	transform: rotateZ(90deg) translate(78px);
	background-color: #fff;
	text-align: center;
}